/* Colours */
.color-primary {
	color: #F5B041;
}
.color-secondary {
	color: #148F77;
}
.color-tertiary {
	color: #1ABC9C;
}
.color-neutro {
	color: black;
}
.color-white {
	color: white;
}
/* Backgrounds */
.background-color {
	background-color: #E5E7E9;
	height: 10vh;
	margin: 0;
}
.background-color-2 {
	background-color: #EAFAF1;
}
.background-text {
	background-color: #76D7C4;
}